<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

   <form action="." method="post">
        <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>

        <input class="btn btn-lg btn-warning"

            type="submit"
            value="go fishing"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-amount="500"
            data-currency="usd"
            data-name="Monthly Subscription"
            data-description="community and idea-bot access"

        />

        <script src="https://checkout.stripe.com/v2/checkout.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script>
        $(document).ready(function() {
            $(':submit').on('click', function(event) {
                event.preventDefault();
                var $button = $(this),
                    $form = $button.parents('form');
                var opts = $.extend({}, $button.data(), {
                    token: function(result) {
                        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                    }
                });
                StripeCheckout.open(opts);
            });
        });
        </script>
</form>

<% end %>


<!--  <form action="." method="post">
        <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>

        <input class="btn btn-primary"

            type="submit"
            value="go fishing"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-amount="500"
            data-currency="usd"
            data-name="Monthly Subscription"
            data-description="community and idea-bot access"

        />

        <script src="https://checkout.stripe.com/v2/checkout.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script>
        $(document).ready(function() {
            $(':submit').on('click', function(event) {
                event.preventDefault();
                var $button = $(this),
                    $form = $button.parents('form');
                var opts = $.extend({}, $button.data(), {
                    token: function(result) {
                        $form.append($('<input>').attr({ type: 'hidden', name: 'stripeToken', value: result.id })).submit();
                    }
                });
                StripeCheckout.open(opts);
            });
        });
        </script>
</form>
 -->


<!--   <script src="https://checkout.stripe.com/checkout.js" id= "buttonpay" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="thinkfish community and bot access"
          data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
          data-amount="500"
          data-label="go fishing"
          data-allow-remember-me=false
          data-locale="auto"></script> -->
